<div class="card">
    <h5 class="card-header">Cadastro</h5>
    <div class="card-body">
        <app-grid customClasses="justify-content-md-center" customStyles="padding: 20px">
            <app-row>
                <app-col col_span="12">
                    <app-alert></app-alert>
                    <form (ngSubmit)="onSubmit()">
                        <app-row>
                            <app-col col_span="6" customClasses="text-center">
                                <app-input labelText="Nome" type="text" id="name" name="name" placeholder="Nome"
                                    [(ngModel)]="user.name" />
                            </app-col>
                            <app-col col_span="6" customClasses="text-center">
                                <app-input labelText="Cnpj" type="text" id="cnpj" name="cnpj" placeholder="Cnpj"
                                    [(ngModel)]="user.cnpj" />
                            </app-col>
                        </app-row>
                        <app-row>
                            <app-col col_span="6" customClasses="text-center">
                                <app-input labelText="CNH" type="text" id="cnh" name="cnh" placeholder="CNH"
                                    [(ngModel)]="user.cnh" />
                            </app-col>
                            <app-col col_span="6" customClasses="text-center">
                                <app-datepicker labelText="Data de Nascimento" id="birthday" name="birthday"
                                    [(ngModel)]="user.birthday" />
                            </app-col>
                        </app-row>

                        <app-row customClasses="justify-content-center" customStyles="padding-top: 10px;">
                            <app-col col_span="4" customClasses="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </app-col>
                        </app-row>
                    </form>
                </app-col>
            </app-row>
        </app-grid>
    </div>
</div>