<div class="card">
  <h5 class="card-header">Orders</h5>
  <div class="card-body">
    <app-grid customClasses="justify-content-md-center">
      <app-row>
        <app-col col_span="12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'list'" (click)="activateTab('list')">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'add'" (click)="activateTab('add')">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="showDetail" [class.disabled]="!orderDetails"
                (click)="activateTab('detail')">Details</a>
            </li>
          </ul>
        </app-col>
      </app-row>
      <app-row>
        <app-col col_span="12">
          <app-order-list *ngIf="activeTab === 'list'" (onOrderDetails)="onOrderDetails($event)"></app-order-list>
          <app-order-add *ngIf="activeTab === 'add'"></app-order-add>
          <app-order-detail *ngIf="showDetail" [order]="orderDetails"></app-order-detail>
        </app-col>
      </app-row>
    </app-grid>
  </div>
</div>