<app-modal #modal modalType="confirmation" (onAccept)="modalOnAccept()"></app-modal>
<app-spinner [loading]="loading"></app-spinner>

<div class="card">
  <h5 class="card-header">Available Orders</h5>
  <div class="card-body">
    <app-grid>
      <app-alert #alert></app-alert>
      <app-row>
        <app-col col_span="12">
          <app-grid customClasses="justify-content-md-center">
            <app-row customClasses="mt-3">
              <app-col col_span="12">
                <app-table [headers]="['Identificador', 'Valor']" [property]="['identifier', 'fare | customCurrency']"
                  [data]='data' [enableCustomAction]="true" customActionIcon="fa fa-motorcycle"
                  (customAction)="deliveryOrder($event)" customActionText="Entregar pedido" />
              </app-col>
            </app-row>
          </app-grid>
        </app-col>
      </app-row>
    </app-grid>
  </div>
</div>