<app-grid customStyles="padding: 20px">

    <app-alert></app-alert>

    <form (ngSubmit)="onSubmit()">
        <app-row>
            <app-col col_span="6" customClasses="text-center">
                <app-input labelText="Identificador" type="text" id="identifier" name="identifier"
                    placeholder="Identificador" [(ngModel)]="bike.identifier" />
            </app-col>
            <app-col col_span="6" customClasses="text-center">
                <app-input labelText="Ano fabricação" type="text" [maxLength]="4" id="manufacturingYear"
                    name="manufacturingYear" placeholder="Ano Fabricação" [(ngModel)]="bike.manufacturingYear" />
            </app-col>
        </app-row>
        <app-row>
            <app-col col_span="6" customClasses="text-center">
                <app-input labelText="Marca / Modelo Moto" type="text" id="bikeModel" name="bikeModel"
                    placeholder="Marca / Modelo" [(ngModel)]="bike.bikeModel" />
            </app-col>
            <app-col col_span="6" customClasses="text-center">
                <app-input labelText="Placa" type="text" [maxLength]="7" id="licensePlate" name="licensePlate"
                    placeholder="Placa" [(ngModel)]="bike.licensePlate" />
            </app-col>
        </app-row>

        <app-row customClasses="justify-content-center" customStyles="padding-top: 10px;">
            <app-col col_span="4" customClasses="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </app-col>
        </app-row>
    </form>

</app-grid>